/* import Fira Sans font family*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-style: normal;
}

/* Shared Section */
.card_title {
    color: rgb(14, 14, 14);
    font-size: 2.5rem;
    font-weight: 700;
}

/* Universal */
* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
    box-sizing: border-box;
}

/* navbar */
nav {
    padding: 1.5rem 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

nav h1 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(14, 14, 14);
}

nav button {
    padding: 0.9375rem 1.875rem;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 0.5rem;
    color: rgb(0, 106, 80);
    font-size: 1.125rem;
    font-weight: 600;
}

nav button:hover {
    background-color: rgb(0, 106, 80);
    color: white;
    cursor: pointer;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;
    padding: 0 10%;
    background: rgb(245, 245, 245);
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 5rem 5%;
    border-radius: 1.5rem;
    background: #C6E4D6;
}

.hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#hero_title {
    color: rgba(14, 14, 14, 0.5);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#hero_description {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
}

#hero_button {
    padding: 1.0625rem 2.125rem;
    border-radius: 0.5rem;
    background: #006A50;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

#hero_button:hover {
    background: #ffffff;
    color: #006A50;
}

.hero_image {
    border-radius: 0.75rem;
    width: 100%;
}

/* Pillars of Bangladesh Section */
.bd_pillar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cards_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 1rem;
    background: rgb(255, 255, 255);
}

.card img {
    width: 4rem;
    height: 4rem;
}

.card_content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card_heading {
    color: rgba(14, 14, 14, 0.8);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
}

.card_description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
}

/* Vision Section */
#vision {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.vision-title {
    color: rgb(14, 14, 14);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
}

.vision-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
}

.vision-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.vision-cards-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#card1, #card2, #card3 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
}

#card1 {
    background: #5490F533;
}

#card2 {
    background: #C6E4D6;
}

#card3 {
    background: #F7EBCF;
}

.card-icon {
    width: 4rem;
    height: 4rem;
}

.card-heading {
    color: rgba(14, 14, 14, 0.8);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
    margin: 0;
}

.card-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
    margin: 0;
}

#card-button1, #card-button2, #card-button3 {
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.625rem 1.25rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

#card-button1 {
    background: #5490F5;
    color: rgb(255, 255, 255);
}

#card-button1:hover {
    background: #ffffff;
    color: #5490F5;
}

#card-button2 {
    background: #09A15C;
    color: #ffffff;
}

#card-button2:hover {
    background: #ffffff;
    color: #09A15C;
}

#card-button3 {
    background: #FFC239;
    color: #ffffff;
}

#card-button3:hover {
    background: #ffffff;
    color: #FFC239;
}

/* quote-section */
#quote_content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 3rem 1.5rem;
    border: 1px solid #0e0e0e26;
    border-radius: 1rem;
    background: #ffffff;
    position: relative;
}

#quote-bg {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 1.25rem;
}

.quote_text {
    color: rgba(14, 14, 14, 0.8);
    font-size: 1rem;
    font-weight: 400;
}

.signature h1 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 1.25rem;
    font-weight: 600;
}

.signature p {
    color: rgba(14, 14, 14, 0.6);
    font-size: 1rem;
    font-weight: 400;
}

/* news section */
.news {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.news_sec_desc {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.news_sec_desc h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.news_sec_desc p {
    font-size: 1rem;
    font-weight: 400;
}

.news_card, .news_card_rev {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    border-radius: 1.5rem;
    background: rgb(255, 255, 255);
}

#news_img {
    border-radius: 1.5rem;
    width: 100%;
}

.news_card_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.news_content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#card_btn1, #card_btn2, #card_btn3 {
    padding: 0.8125rem 1.625rem;
    border-radius: 0.5rem;
    background: #006a50;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
}

#card_btn1:hover, #card_btn2:hover, #card_btn3:hover {
    background: #ffffff;
    color: #006a50;
    border: 1px solid #006a50;
}

/* Donation section */
.donation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.donation-container h1 {
    color: rgb(14, 14, 14);
    font-size: 2.5rem;
    font-weight: 700;
}

.donation-container p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.donation-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.donation-amount {
    padding: 2.5rem;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 1rem;
    background: rgb(255, 255, 255);
    cursor: pointer;
    color: rgba(14, 14, 14, 0.8);
    font-size: 2.5rem;
    font-weight: 700;
    transition: background 0.3s ease, color 0.3s ease;
}

.donation-amount:hover {
    background: #c6e4d6;
    color: #000000;
}

.custom-amount {
    padding: 1.25rem 2.5rem;
    width: 100%;
    border-bottom: 1px solid #0e0e0e26;
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 1);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.donate-btn {
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 0.5rem;
    background: #006a50;
    padding: 1.0625rem 2.125rem;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

.donate-btn:hover {
    background: #ffffff;
    color: #006a50;
    border: 1px solid #006a50;
}

/* Newsletter */
.newsletter {
    padding: 5rem 5%;
    border-radius: 1.5rem;
    background: rgb(198, 228, 214);
}

.newsletter-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.newsletter-content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.newsletter h1 {
    color: rgb(14, 14, 14);
    font-size: 2.5rem;
    font-weight: 700;
}

.newsletter p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.input {
    display: flex;
    width: 100%;
}

.input input {
    color: rgba(14, 14, 14, 0.3);
    font-size: 1rem;
    font-weight: 400;
    padding: 1.125rem 2.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    background: rgb(255, 255, 255);
    border: none;
    flex: 1;
}

.input button {
    padding: 1.0625rem 2.125rem;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    background: #006a50;
    cursor: pointer;
    transition: background 0.3s ease;
}

.input button:hover {
    background: rgb(198, 228, 214);
    color: black;
    box-shadow: inset 0 0 0 2px #004d40;
}

.note {
    color: #0e0e0eb3;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

/* footer section */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3.125rem 10%;
    background: rgb(255, 255, 255);
}

footer h1 {
    color: rgb(14, 14, 14);
    font-size: 2rem;
    font-weight: 700;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

@media (min-width: 576px) {
    nav {
        flex-direction: row;
        align-items: center;
    }

    nav h1 {
        font-size: 2rem;
    }

    nav button {
        padding: 0.9375rem 1.875rem;
        font-size: 1.125rem;
    }

    main {
        padding: 0 10%;
    }

    .hero {
        flex-direction: row;
        padding: 5rem 5%;
        gap: 4rem;
    }

    .hero_content {
        align-items: flex-start;
    }

    #hero_title {
        font-size: 1.5rem;
    }

    #hero_description {
        font-size: 3.5rem;
        text-align: left;
    }

    #hero_button {
        padding: 1.0625rem 2.125rem;
        font-size: 1.125rem;
    }

    .hero_image {
        width: auto;
    }

    .cards_container {
        flex-direction: row;
        gap: 1.5rem;
    }

    .card {
        width: 30%;
    }

    .vision-cards-container {
        flex-direction: row;
        gap: 1.5rem;
    }

    .news_card, .news_card_rev {
        flex-direction: row;
        padding: 3rem;
        gap: 2rem;
    }

    .donation-buttons {
        flex-direction: row;
        gap: 1.5rem;
    }

    .donation-amount {
        width: auto;
        font-size: 2.5rem;
    }

    .custom-amount {
        width: auto;
    }

    .newsletter-content {
        margin: 0 10%;
    }

    .input input {
        padding: 1.125rem 2.5rem;
    }

    .input button {
        padding: 1.0625rem 2.125rem;
    }

    footer ul {
        flex-direction: row;
        gap: 1rem;
    }
}
